{% extends 'layout.html.twig' %}
{% block body %}
	<p>Bonjour {{ legalRepresentative.civility }} {{ legalRepresentative.lastname }}</p>
	<p>Votre collaborateur, {{ contact.civility }} {{ contact.firstname }} {{ contact.lastname }},
		souhaite vous faire part de son intérêt pour la formation :
		«{{ formation.title }}», le {{ formationCourse.start_at|format_datetime('short', 'none', locale='fr') }}
		{% if formationCourse.format == 'webinar' %}
		en Webinar via Zoom
		{% elseif formationCourse.format == 'e-learning' %}
		en e-learning
		{% else %}
			à {{ formationCourse.city }}
		{% endif %}
	</p>
	<p>Si vous le souhaitez, vous pouvez dés à présent lui réserver une place.</p>
	<div style="font-family:Helvetica, Arial, sans-serif; font-size: 12px;padding-top: 20px">
		<a href="{{ env.DASHBOARD_URL }}/formations/formation/{{ formationCourse.id }}"  style="display: inline-block; background: #0e2c6e; color: #fff; padding: 5px 20px; text-decoration: none; border-radius: 4px"><span style="color: #fff; text-decoration: none">Voir la formation</span></a>
	</div>
{% endblock %}